variables:
  VERSION_TAG_REGEX: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)$/
  PACKAGE_FILE: standalone-build.tar.gz
  PACKAGE_URL: $CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/generic/fusion/$CI_COMMIT_TAG/$PACKAGE_FILE

stages:
  - lint
  - test
  - deploy
  - hook

analyze code:
  stage: lint
  image:
    name: ghcr.io/phpstan/phpstan:2.1.6
    entrypoint: [""]
  script:
    - phpstan analyse -c phpstan.neon --error-format gitlab > phpstan.json
  artifacts:
    paths:
      - phpstan.json
    reports:
      codequality: phpstan.json

build development package:
  stage: test
  image: valvoid/fusion:1
  script:
    - fusion build
  artifacts:
    name: dev-package-build
    paths:
      - state

test units:
  stage: test
  image: php:$VERSION-alpine
  before_script:
    - apk add --no-cache libzip-dev
    - docker-php-ext-configure zip
    - docker-php-ext-install zip
  needs:
    - job: build development package
      artifacts: true
  parallel:
    matrix:
      - VERSION: ["8.1", "8.2", "8.3", "8.4"]
  coverage: /^Code\scoverage:\s\d{1,3}(?:\.\d{1,2})?\%/
  script:
    - php tests/units.php

test integrations:
  stage: test
  image: php:8.1.0
  rules:
    - if: $CI_COMMIT_TAG =~ $VERSION_TAG_REGEX
  needs:
    - job: test units
      artifacts: true
  script:
    - php tests/integrations.php

build standalone package:
  stage: deploy
  image: valvoid/fusion:1
  variables:
    GIT_STRATEGY: empty
    XDG_STATE_HOME: $CI_BUILDS_DIR/.state
  rules:
    - if: $CI_COMMIT_TAG =~ $VERSION_TAG_REGEX
  dependencies: []
  script:
    - fusion build build.source=gitlab.com/valvoid/fusion/\'code/==$CI_COMMIT_TAG
    - touch $PACKAGE_FILE
    - tar --exclude=$PACKAGE_FILE -czvf $PACKAGE_FILE .
    - |
      curl -v --fail-with-body --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
      --upload-file $PACKAGE_FILE \
      $PACKAGE_URL

create release:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  variables:
    GIT_STRATEGY: none
  rules:
    - if: $CI_COMMIT_TAG =~ $VERSION_TAG_REGEX
  needs:
    - job: build standalone package
      artifacts: false
  script:
    - echo "running release job for the tag \"$CI_COMMIT_TAG\"."
  release:
    tag_name: $CI_COMMIT_TAG
    assets:
      links:
        - name: Standalone package (tar.gz)
          url: $PACKAGE_URL
          link_type: package
    description: |
      $CI_COMMIT_TAG_MESSAGE

      ---
      Created by using the release-cli in:
      [Pipeline]($CI_PIPELINE_URL) / [Job]($CI_JOB_URL)

build docker image:
  stage: hook
  rules:
    - if: $CI_COMMIT_TAG =~ $VERSION_TAG_REGEX
  variables:
    SEMVER: $CI_COMMIT_TAG
  trigger:
    project: valvoid/fusion/docker
    branch: main