/.idea

# keep loadble for init
/cache/*
!/cache/loadable
/extensions
/tests/Dir/cache
/tests/Tasks/Copy/Mocks/package/cache
/tests/Tasks/Download/Mocks/package
/tests/Tasks/Snap/Mocks/package
/tests/Tasks/Shift/cache
/fusion.local.php