parameters:
  level: 1
  paths:
    - src
    - tests
  earlyTerminatingMethodCalls:
    Valvoid\Fusion\Hub\Requests\Remote\Remote:
      - throwError
    Valvoid\Fusion\Config\Logic:
      - throwMetaError
    Valvoid\Fusion\Box\Box:
      - throwNormalizedError